<a href="https://colab.research.google.com/github/llRodroll/CinD_23-II/blob/main/01_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Getting started**

## 1.1. Python as a Calculator

In [ ]:
# Addition
2 + 3

5

In [ ]:
# Substraction
15 - 7

8

In [ ]:
# Multiplication
63 * 13

819

In [ ]:
# Division
99 / 43

2.302325581395349

In [ ]:
# ???
99 // 43

2

In [ ]:
# Exponentials
8 ** 4

4096

## 1.2. Parentheses

In [ ]:
7 * (2 + 3)

35

## 1.3. Integers versus Real numbers

In [ ]:
print(5)
print(type(5))

5
<class 'int'>

In [ ]:
print(5.0)
print(type(5.0))

5.0
<class 'float'>

## 1.4. Scientific Notation

In [1]:
5.0e3

5000.0

In [3]:
3.2e2

320.0

# **2. Basic functions**

## 2.1. Print

In [6]:
print(15)
print(16)

15
16

In [7]:
# Print different elements in the same line
print(9, 8, 2023)

9 8 2023

In [11]:
# ???
for i in range(1,11): print(i)

1
4
7
10

In [ ]:
# With a step, in this case 3
for i in range(1,11,3): print(i)

In [16]:
# With Text
print("Rodrigo")
print("First Names:", "José Rodrigo")
print("First Names:\t", "José Rodrigo")
print("First Names:\n", "José Rodrigo")

Rodrigo
First Names: José Rodrigo
First Names:	 José Rodrigo
First Names:
 José Rodrigo

In [17]:
# Text and numbers
print('My favorrite number is', 21)

My favorrite number is 21

## 2.2. Round

In [19]:
round(5.7289,2)

5.73

In [ ]:
# Exercise 1
## Aproximate the number 15.4795612358
## to 1,2,3,....., decimals and print the result

for i in range(0,11):
  print('Approx. with:',i,'decimals',round(15.4795612358,i))

In [ ]:
# Exercise 2
# Find and print the 100 first multples of 7

for i in range(0,101):
  print('The multiple in position',i,'is',i*7)

In [30]:
# Exercise
# Calculate and print the multplication table, up to 9,
# for the numbers 3,4,5,6

for j in range(3,7):
  print('Multiplication Table of', j)
  for i in range(1,10):
    print(j,'x',i,'=' ,j*i)

Multiplication Table of 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
Multiplication Table of 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
Multiplication Table of 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
Multiplication Table of 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54