<a href="https://colab.research.google.com/github/llRodroll/CinD_23-II/blob/main/02_Python_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. What is variable?**

It is a *container*. You can save *stuff* in there.

In [ ]:
# Example
a = 10

In [ ]:
print(a + 1)
print(a*a)
print(a/2)

11
100
5.0

In [ ]:
# Example
x = y = z = 100

# **2. Delete and Clear**

In [ ]:
# Delete
del y, z

In [ ]:
# Clear
# be careful! you delete everything
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [ ]:
# Exercise 1
## Aproximate the number 15.4795612358
## to 1,2,3,....., decimals and print the result

## USING VARIABLES

n = 15.4795612358 # the number to approx.
a = 0             # the initial approx.
z = 11            # (z - 1) is the last approx.

for i in range(a,z):
  print('Approx. with:',i,'decimals',round(n,i))

Approx. with: 0 decimals 15.0
Approx. with: 1 decimals 15.5
Approx. with: 2 decimals 15.48
Approx. with: 3 decimals 15.48
Approx. with: 4 decimals 15.4796
Approx. with: 5 decimals 15.47956
Approx. with: 6 decimals 15.479561
Approx. with: 7 decimals 15.4795612
Approx. with: 8 decimals 15.47956124
Approx. with: 9 decimals 15.479561236
Approx. with: 10 decimals 15.4795612358

In [ ]:
# Exercise 2
# Find and print the 100 first multples of 7

# USING VARIABLES

n = 4     # the number
a = 0     # the initial multiple.
z = 11   # (z - 1) is the last multiple.

print('The', z-1, 'multiples of', n)
for i in range(a,z):
  print('The multiple in position',i,'is',i*n)

The 10 multiples of 4
The multiple in position 0 is 0
The multiple in position 1 is 4
The multiple in position 2 is 8
The multiple in position 3 is 12
The multiple in position 4 is 16
The multiple in position 5 is 20
The multiple in position 6 is 24
The multiple in position 7 is 28
The multiple in position 8 is 32
The multiple in position 9 is 36
The multiple in position 10 is 40

# **3. Naming**

In [ ]:
# A variable with my name
Name = 'Rodrigo'
NaMe = 'Rodrigo'
NAME = 'Rodrigo'
my_name = 'Rodrigo'
name = 'Rodrigo'
first_name = 'Rodrigo'

In [ ]:
age1 = 15

In [ ]:
age_01 = 15

In [ ]:
## Let's say I want to create a variable for the price of a cellphone

maluma = 100
price  = 100

# **5. Data types**

Integers and floats... OK.

In [ ]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [ ]:
w = 1

In [ ]:
w += 3
print(w)

7

## 5.1. Booleans

In [ ]:
am_i_alive = False

In [ ]:
print(am_i_alive)
print(type(am_i_alive))

False
<class 'bool'>

## 5.2. Boolean expressions

In [ ]:
x = 2
y = 3

In [ ]:
result1 = x <= y
print(result1)

True

In [ ]:
result2 = x == y
print(result2)

False

In [ ]:
result1 + result2

1

In [5]:
# Practice
# Create the necessary code to evaluate the expression
# x*y > x + y
# for numbers ranging from 1 to 6

for x in range(1,7):
  for y in range(1,7):
    print('is x*y > x + y?')
    print('x = ', x, 'y = ', y)
    print('x*y =', x*y, 'x+y =', x+y)
    print(x*y > x + y)

is x*y > x + y?
x =  1 y =  1
x*y = 1 x+y = 2
False
is x*y > x + y?
x =  1 y =  2
x*y = 2 x+y = 3
False
is x*y > x + y?
x =  1 y =  3
x*y = 3 x+y = 4
False
is x*y > x + y?
x =  1 y =  4
x*y = 4 x+y = 5
False
is x*y > x + y?
x =  1 y =  5
x*y = 5 x+y = 6
False
is x*y > x + y?
x =  1 y =  6
x*y = 6 x+y = 7
False
is x*y > x + y?
x =  2 y =  1
x*y = 2 x+y = 3
False
is x*y > x + y?
x =  2 y =  2
x*y = 4 x+y = 4
False
is x*y > x + y?
x =  2 y =  3
x*y = 6 x+y = 5
True
is x*y > x + y?
x =  2 y =  4
x*y = 8 x+y = 6
True
is x*y > x + y?
x =  2 y =  5
x*y = 10 x+y = 7
True
is x*y > x + y?
x =  2 y =  6
x*y = 12 x+y = 8
True
is x*y > x + y?
x =  3 y =  1
x*y = 3 x+y = 4
False
is x*y > x + y?
x =  3 y =  2
x*y = 6 x+y = 5
True
is x*y > x + y?
x =  3 y =  3
x*y = 9 x+y = 6
True
is x*y > x + y?
x =  3 y =  4
x*y = 12 x+y = 7
True
is x*y > x + y?
x =  3 y =  5
x*y = 15 x+y = 8
True
is x*y > x + y?
x =  3 y =  6
x*y = 18 x+y = 9
True
is x*y > x + y?
x =  4 y =  1
x*y = 4 x+y = 5
False
is x*y > x + y?
x =  4 y =  2
x*y = 8 x+y = 6
True
is x*y > x + y?
x =  4 y =  3
x*y = 12 x+y = 7
True
is x*y > x + y?
x =  4 y =  4
x*y = 16 x+y = 8
True
is x*y > x + y?
x =  4 y =  5
x*y = 20 x+y = 9
True
is x*y > x + y?
x =  4 y =  6
x*y = 24 x+y = 10
True
is x*y > x + y?
x =  5 y =  1
x*y = 5 x+y = 6
False
is x*y > x + y?
x =  5 y =  2
x*y = 10 x+y = 7
True
is x*y > x + y?
x =  5 y =  3
x*y = 15 x+y = 8
True
is x*y > x + y?
x =  5 y =  4
x*y = 20 x+y = 9
True
is x*y > x + y?
x =  5 y =  5
x*y = 25 x+y = 10
True
is x*y > x + y?
x =  5 y =  6
x*y = 30 x+y = 11
True
is x*y > x + y?
x =  6 y =  1
x*y = 6 x+y = 7
False
is x*y > x + y?
x =  6 y =  2
x*y = 12 x+y = 8
True
is x*y > x + y?
x =  6 y =  3
x*y = 18 x+y = 9
True
is x*y > x + y?
x =  6 y =  4
x*y = 24 x+y = 10
True
is x*y > x + y?
x =  6 y =  5
x*y = 30 x+y = 11
True
is x*y > x + y?
x =  6 y =  6
x*y = 36 x+y = 12
True

## 5.4. String Variables

In [8]:
# Example
name = 'Rodrigo iudvsdkhsdf vousd,n solsd dflod doldc ndfgidgfm gfepo m'
last_name = "Vélez"
print(type(name))
print(last_name)

<class 'str'>
Vélez

In [10]:
# Example - caution
price = '100'
print(price)
print(price*2)

100
100100

In [12]:
new_price = int(price)
print(new_price)

100

In [ ]:
print(int(last_name))

**Slicing**

In [17]:
# Example
u = 'Universidad de La Salle'
print(u)

Universidad de La Salle

In [29]:
# Slicing
print('Extract the first element of u:', u[0])
print('The space is also an elemnt:', u[11])
print('Extract the last element of u:', u[-1])
print('Extract the first two element of u:', u[0:2])
print('Extract the last two element of u:', u[-2:-1]) #npi

Extract the first element of u: U
The space is also an elemnt:
Extract the last element of u: e
Extract the first two element of u: Un
Extract the last two element of u: l

**Method**

In [31]:
# Lower case
u.lower()

'universidad de la salle'

In [32]:
# Upper case
u.upper()

'UNIVERSIDAD DE LA SALLE'

In [35]:
# Split
u.split(' ')

['Universidad', 'de', 'La', 'Salle']

In [36]:
u.split(' ')[0]

'Universidad'